.login-card {
  height: 40vh;
  width: 35%;
  border-radius: 0.75rem;
  border: 1px solid #374151;
  background-color: #1f2937;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.login-card-grid {
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 100%;
}

@media (max-width: 800px) {
  .login-card {
    height: 40vh;
    width: 100%;
  }
}