.login-page-content-container {
  grid-row: 2;
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #111827, #1f2937);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spectrum-background {
  background: linear-gradient(to bottom, #111827, #1f2937);
  background-blend-mode: normal;
}