.username-login-field {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  margin: 2%;
}

.username-login-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #374151;
  background-color: #1f2937;
  border-radius: 0.375rem;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.username-login-field input:focus {
  border-color: #3b82f6;
  outline: none;
}

.username-login-field input::placeholder {
  text-align: center;
  color: #9ca3af;
}